<?xml version="1.0"?>
<!--
/**
 * Bialsoft_Cmspro extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GPL License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/gpl-license.php
 *
 * @category       Bialsoft
 * @package        Bialsoft_Cmspro
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Bialsoft_Cmspro>
            <version>1.1.0</version>
        </Bialsoft_Cmspro>
    </modules>
    <global>
        <resources>
            <bialsoft_cmspro_setup>
                <setup>
                    <module>Bialsoft_Cmspro</module>
                    <class>Bialsoft_Cmspro_Model_Resource_Setup</class>
                </setup>
            </bialsoft_cmspro_setup>
        </resources>
        <blocks>
            <bialsoft_cmspro>
                <class>Bialsoft_Cmspro_Block</class>
            </bialsoft_cmspro>
        </blocks>
        <helpers>
            <bialsoft_cmspro>
                <class>Bialsoft_Cmspro_Helper</class>
            </bialsoft_cmspro>
        </helpers>
        <models>
            <bialsoft_cmspro>
                <class>Bialsoft_Cmspro_Model</class>
                <resourceModel>bialsoft_cmspro_resource</resourceModel>
            </bialsoft_cmspro>
            <bialsoft_cmspro_resource>
                <class>Bialsoft_Cmspro_Model_Resource</class>
                <entities>
                    <cmscategory>
                        <table>bialsoft_cmspro_cmscategory</table>
                    </cmscategory>
                    <article>
                        <table>bialsoft_cmspro_article</table>
                    </article>
                    <cmscategory_store>
                        <table>bialsoft_cmspro_cmscategory_store</table>
                    </cmscategory_store>
                    <article_store>
                        <table>bialsoft_cmspro_article_store</table>
                    </article_store>
                    <article_product>
                        <table>bialsoft_cmspro_article_product</table>
                    </article_product>
                    <article_category>
                        <table>bialsoft_cmspro_article_category</table>
                    </article_category>
                    <article_comment>
                        <table>bialsoft_cmspro_article_comment</table>
                    </article_comment>
                    <article_comment_store>
                        <table>bialsoft_cmspro_article_comment_store</table>
                    </article_comment_store>
                </entities>
            </bialsoft_cmspro_resource>
            <sitemap>
                <rewrite>
                    <sitemap>Bialsoft_Cmspro_Model_Rewrite_Sitemap_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <bialsoft_cmspro>
                        <class>Bialsoft_Cmspro_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </bialsoft_cmspro>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bialsoft_cmspro>
                    <file>bialsoft_cmspro.xml</file>
                </bialsoft_cmspro>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bialsoft_Cmspro>
                    <files>
                        <default>Bialsoft_Cmspro.csv</default>
                    </files>
                </Bialsoft_Cmspro>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <bialsoft_cmspro_article_product>
                        <type>singleton</type>
                        <class>bialsoft_cmspro/adminhtml_observer</class>
                        <method>addProductArticleBlock</method>
                    </bialsoft_cmspro_article_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <bialsoft_cmspro_article_category>
                        <type>singleton</type>
                        <class>bialsoft_cmspro/adminhtml_observer</class>
                        <method>addCategoryArticleBlock</method>
                    </bialsoft_cmspro_article_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_product_save_after>
                <observers>
                    <bialsoft_cmspro_article_product>
                        <type>singleton</type>
                        <class>bialsoft_cmspro/adminhtml_observer</class>
                        <method>saveProductArticleData</method>
                    </bialsoft_cmspro_article_product>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <bialsoft_cmspro_article_category>
                        <type>singleton</type>
                        <class>bialsoft_cmspro/adminhtml_observer</class>
                        <method>saveCategoryArticleData</method>
                    </bialsoft_cmspro_article_category>
                </observers>
            </catalog_category_save_after>
        </events>
        <global_search>
            <article>
                <class>bialsoft_cmspro/adminhtml_search_article</class>
                <acl>bialsoft_cmspro</acl>
            </article>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bialsoft_Cmspro before="Mage_Adminhtml">Bialsoft_Cmspro_Adminhtml</Bialsoft_Cmspro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <bialsoft_cmspro>
                        <class>bialsoft_cmspro/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </bialsoft_cmspro>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <routers>
            <bialsoft_cmspro>
                <use>standard</use>
                <args>
                    <module>Bialsoft_Cmspro</module>
                    <frontName>bialsoft_cmspro</frontName>
                </args>
            </bialsoft_cmspro>
        </routers>
        <layout>
            <updates>
                <bialsoft_cmspro>
                    <file>bialsoft_cmspro.xml</file>
                </bialsoft_cmspro>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bialsoft_Cmspro>
                    <files>
                        <default>Bialsoft_Cmspro.csv</default>
                    </files>
                </Bialsoft_Cmspro>
            </modules>
        </translate>
    </frontend>
    <default>
        <bialsoft_cmspro>
            <cmscategory>
                <breadcrumbs>1</breadcrumbs>
                <link_in_toplinks>1</link_in_toplinks>
                <link_in_mainmenu>1</link_in_mainmenu>
                <link_in_footerlinks>1</link_in_footerlinks>
                <rss>1</rss>
                <default_root_template>two_columns_left</default_root_template>
                <meta_title></meta_title>
                <tree>1</tree>
                <recursion>0</recursion>

            </cmscategory>
            <article>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <default_root_template>two_columns_left</default_root_template>
                <meta_title></meta_title>
            </article>
        </bialsoft_cmspro>
    </default>
</config>
